@charset "utf-8";
::-webkit-input-placeholder { /* WebKit browsers */
	color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #fff;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #fff;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #fff;
}
header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding:0.24rem 0 0.24rem 0.32rem;
	width: 7.18rem;
	a{
		display: block;
		width: 0.22rem;
		img{
			width: 0.22rem;
			height: 0.4rem;
		}
	}
}
#tou{
	padding:0.88rem 0 0.2rem ;
	text-align: center;
	background: url("../images/xian_zhonglou.png") no-repeat;
	background-size:100% 3rem;
	h2{
		font:700 0.58rem/0.58rem "";
		color: #fff;
	}
	h3{
		font:700 0.24rem/0.5rem "";
		color: #fff;
	}
	input{
		outline: none;
		margin-top: 0.12rem;
		border: 0.01rem solid #ddd;
		border-radius: 0.1rem;
		width: 3.06rem;
		height: 0.7rem;
		padding-left: 1.72rem;
		font:0.26rem/0.7rem "";
		color: #fff;
		background: rgba(0,0,0,.5) url("../images/home_search_icon_white.png") no-repeat 1.38rem 0.23rem ;
		background-size: 0.24rem 0.24rem;
	}
}
#tuijian{
	width: 100%;
	border-top:0.01rem solid #e7e7e7;
	display: flex;
	justify-content: flex-start;
	.tuijian_l{
		flex: 0 0 50%;
		width:3.75rem ;
		padding:0.42rem 0 0.32rem;
		text-align: center;
		h2{
			font:700 0.26rem/0.42rem "";
			color: #333;
		}
		h3{
			font:0.24rem/0.4rem "";
			color: #999;
		}
		img{
			margin-top: 0.38rem;
			width:1.9rem ;
			height:1.46rem;
		}
	}
	.tuijian_r{
		width: 3.74rem;
		border-left:0.01rem solid #e7e7e7;
		.tuijian_r_t{
			padding:0.42rem 0.39rem 0.47rem 0.24rem;
			h2{
				width: 2rem;
				float: left;
				font:700 0.26rem/0.42rem "";
				color: #333;
			}
			h3{
				width: 2rem;
				float: left;
				font:0.22rem/0.39rem "";
				color: #999;
			}
			img{
				float: right;
				width: 0.92rem;
				height:0.81rem;
			}
		}
		.tuijian_r_b{
			border-top: 0.01rem solid #e7e7e7;
			padding:0.41rem 0.34rem 0.47rem 0.24rem;
			h2{
				width: 2rem;
				float: left;
				font:700 0.26rem/0.42rem "";
				color: #333;
			}
			h3{
				width: 2rem;
				float: left;
				font:0.22rem/0.39rem "";
				color: #999;
			}
			img{
				float: right;
				width: 1.02rem;
				height:0.81rem;
			}
		}
	}
}
.fenjiexian{
	width: 100%;
	height: 0.24rem;
	background-color: #f3f5f9;
}
#samecity{
	.title{
		padding:0.32rem 0.4rem;
		background: url("../images/xian_samecitybeijing.png") no-repeat 5.96rem 0.22rem;
		background-size: 1.14rem 0.74rem;
		i{
			float: left;
			display: block;
			width:0.08rem;
			height:0.32rem;
			background-color: #ffda44;
		}
		h2{
			margin-left: 0.15rem;
			float: left;
			font:700 0.32rem/0.32rem "";
			color: #333;
		}
		span{
			margin-left:0.24rem;
			float: left;
			font:0.24rem/0.32rem "";
			color: #999;
		}
	}
	ul{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		li{
			flex: 0 0 25%;
			width: 1.86rem;
			text-align: center;
			padding-bottom:0.17rem ;
			border-top: 0.01rem solid #e7e7e7;
			border-right:0.01rem solid #e7e7e7;
			box-sizing: border-box;
			a{
				p{
					font:700 0.26rem/0.84rem "";
					color: #333;
				}
				img{
					width: 1.1rem;
					height:1.14rem;
				}
			}
		}
	}
}
#citycanplay{
	.title{
		padding:0.32rem 0.4rem;
		background: url("../images/xian_citycanplay.png") no-repeat 5.96rem 0.22rem;
		background-size: 1.14rem 0.74rem;
		i{
			float: left;
			display: block;
			width:0.08rem;
			height:0.32rem;
			background-color: #ffda44;
		}
		h2{
			margin-left: 0.15rem;
			float: left;
			font:700 0.32rem/0.32rem "";
			color: #333;
		}
		span{
			margin-left:0.24rem;
			float: left;
			font:0.24rem/0.32rem "";
			color: #999;
		}
	}
	ul{
		display: flex;
		justify-content: flex-start;
		li{
			padding:0.17rem 0  0.49rem;
			text-align: center;
			flex: 0 0 33.333333%;
			border-top: 0.01rem solid #e7e7e7;
			border-right: 0.01rem solid #e7e7e7;
			box-sizing: border-box;
			a{
				h2{
					font:700 0.28rem/0.48rem "";
					color: #333;
				}
				h3{
					font:700 0.28rem/0.42rem "";
					color: #999;
				}
				img{
					margin-top: 0.23rem;
					width: 1.44rem;
					height: 1.44rem;
				}
			}
		}
	}
}
#classify{
	ul{
		padding:0.31rem 0.4rem 0.3rem;
		border-bottom: 0.01rem solid #e7e7e7;
		display: flex;
		justify-content: space-between;
		li{
			width: 1.54rem;
			padding-left: 0.3rem;
			background: url("../images/xian_xialacaidan.png") no-repeat 1.26rem  0.42rem;
			background-size: 0.16rem 0.07rem;
			a{
				font:0.26rem/0.87rem "";
				color: #999;
			}
		}
	}
}
#goodslist{
	ul{
		.goods{
			padding:0.32rem 0 0 0.4rem;
			.title{
				margin-bottom: 0.32rem;
				.via{
					float: left;
					display: block;
					width: 0.8rem;
					height: 0.8rem;
					margin-right: 0.16rem;
				}
				h2{
					float: left;
					width: 4.5rem;
					font:0.26rem/0.44rem "";
					color: #333;
				}
				p{
					width: 4.5rem;
					float: left;
					font:0.24rem/0.36rem "";
					color: #999;
					padding-left:0.34rem ;
					background: url("../images/index_fresh_time.png") no-repeat 0 0.06rem;
					background-size: 0.24rem 0.24rem;
				}
				span{
					font:700 0.28rem/0.52rem "";
					color: #f44;
				}
			}
			.post_banner{
				ul{
					li{
						height: 2.32rem;
						width: 2.32rem;
						img{
							display: block;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
			h3{
				font:900 0.26rem/0.98rem "";
				color: #333;
			}
			.message{
				height: 0.8rem;
				padding-bottom:0.28rem ;
				width:6.7rem ;
				border-bottom: 0.01rem solid #e8e8e8;
				i{
					float: left;
					display: block;
					width: 0.04rem;
					height: 0.8rem;
					background-color: #ffda44;
					margin-right: 0.2rem;
				}
				p{
					font:0.26rem/0.32rem "";
					color: #999;
					margin-bottom: 0.16rem;
				}
				p:nth-child(3){
					margin-bottom: 0;
				}
			}
			.from{
				font:0.24rem/0.87rem "";
				color: #3dafff;
			}
		}
	}
}
footer{
	position: fixed;
	left: 2.96rem;
	bottom: 0;
	width:1.58rem ;
	height: 1.7rem;
	text-align: center;
	z-index: 999;
	a{
		img{
			width: 100%;
			height: 100%;
		}
	}
}

